.uapplication-form {
	background-color: rgb(238, 238, 238);
	padding: 2rem;
	border-radius: 10px;
}

.application-form {
	background-color: rgb(238, 238, 238);
	padding: 2rem;
	border-radius: 10px;
}

.home-container {
	display: flex;
	justify-content: center;
	padding: 3rem;
}

.logut-Btn {
    height: 32px;
    width: 56px;
	position: fixed;
	right: 4rem;
	
}
