.sidebar {
    background-color: #3bb19b;
    width: 300px;
    position: absolute;
    top: 0;
    left: 0px;
    bottom: 0;
    padding: 1rem;
    padding-top: 5rem;
}

.sidebar h1 {
    color:#3bb19b;
}

.sidebar-item{
    
    /* background-color: white; */
    /* border-radius: 1rem; */
    color: white;
    padding: 1rem;
    font-weight: 500;
    margin-left: 20px;
}

.content-window {
    background-color: rgb(221, 221, 221);
    position: absolute;
    top: 0;
    
    left: 100px;
    right: 0;
    bottom: 0;
    
    -moz-transition: left 0.5s ease;
    transition: left 0.5s ease;
}

input[type=checkbox] {
   display: none;
}

input:checked ~ .content-window { 
    left: 300px;
}

input:checked ~ label {
    left: 5px;
}



label {
    z-index: 2;
    position: absolute;
    top: 15px;
    
    left: 25px;
    /* background-color: rgb(214, 214, 214); */
    -moz-transition: left 0.5s ease;
    transition: left 0.5s ease;
    height: 38px;
    width: 100px;
}
.icon{
    left:5px;
    padding:0.5rem;
    cursor:pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    
}

.icon:hover{

    background-color: #8bcdc1;
}